<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/style.css">
    <title>Signup</title>
  </head>
  <body>
    <header class="header">
      <ul>
        <li class="page_title">Signup Page</li>
      </ul>
      <h1 class="title">My Money List<span class="title_name">Signup</span></h1>
    </header>
    <section>
      <h2 class="sec_title">Signup</h2>
      <ul>
        <span>User Id</span>
        <input type="text" name="signup_id" id="signup_id">
        <span>Password</span>
        <input type="password" name="signup_password" id="signup_password">
        <button type="submit" name="signup_submit" class="submitbtn">Submit</button>
      </ul>
    </section>
    <footer class="outpage_footer">
      <ul>
        <span>Already have an account?</span>
        <li>
          <a href="/">Login</a>
        </li>
      </ul>
    </footer>
  </body>
</html>