<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" http-equiv="Permissions-Policy" content="interest-cohort=()">
    <link rel="stylesheet" href="/public/style.css">
    <title>Incomes</title>
  </head>
  <body>
    <header class="header">
      <ul>
        <li><a href="/">Logout</a></li>
        <li><a href="/expenses/<%= userName %>">Expenses</a></li>
        <li><a href="/incomes/<%= userName %>">Incomes</a></li>
      </ul>
      <h1 class="title">
        <p id="userName" data-userid="<%= userName %>" class="title_userId">
          <%= userName %>'s Money List</p>
        <span class="title_name">Incomes</span></h1>
    </header>

    <section>
      <h3 class="sec_title">Add New income</h3>
      <ul>
        <span>Date/Time</span>
          <input type="date" name="date" id="inputdate" class="inputdate">
          <input type="time" name="time" id="inputtime" class="inputtime">
        <span>Tag</span>
          <input type="text" name="tag" id="inputtag" class="inputtag">
        <span>Amount</span>
          <input type="number" name="amount" id="inputamount" class="inputamount">
        <button type="Save" name="save" id="savebtn" class="savebtn">Save</button>
      </ul>
    </section>

    <footer>
      <h3 class="history_list">Incomes List</h3>
      <table class="table">
      <thead class="table_head">
        <tr>
          <th scope="col" class="th_date">Date</th>
          <th scope="col" class="th_time">Time</th>
          <th scope="col" class="th_tag">Tag</th>
          <th scope="col" class="th_amount">Amount</th>
          <th scope="col" class="th_btn">
            <button type='delete' name="delete" id="deletebtn" class="deletebtn">Delete</button>
            <button type='edit' name="edit" id="editbtn" class="editbtn">Edit</button>
            <script src="/public/app_inc.js" type="text/javascript"></script>
          </th>
       </tr>
     </thead>
     <tbody class="table_body">
       <% historyIncList.forEach(incList => { %>
       <tr>
         <td class="tb_date"><p><%= incList.date %></p></td>
         <td class="tb_time"><p><%= incList.time %></p></td>
         <td class="tb_tag"><p><%= incList.tag %></p></td>
         <td class="tb_amount"><p><%= incList.amount %></p></td>
         <td>
           <input class="checkbox_inc" type="checkbox" value="<%= incList._id %>" onclick="selectedInc()" unchecked>
         </td>
      </tr>
      <% }) %>
     </tbody>
     </table>
   </footer>
  </body>
</html>